# 유니티 임시 폴더들 (절대 깃허브에 올라가면 안 되는 것들)
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/

# 유니티 캐시 파일들
sysinfo.txt
*.apk
*.aab
*.unitypackage
*.app

# 크래시 덤프 파일들
crashlytics-build.properties